# IDE and OS files
.vscode/
.idea/
*.swp
.DS_Store
*__pycache__*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large files that might be mistakenly added
*.pth
*.ckpt
*.onnx
*.pt
*.bin

# pretrained weights
download_ckpts
# dataset
mdistiller/dataset/data
# output
output*
result*

# file out err
sbatch*

mdistiller.egg-info

check.py 
test.py 
*.png
cac

cifar100*
wkd_cost_matrix_init
wkd_cost_matrix

wandb